$base-width-card: 300px;
$base-height-card: 380px;
$base-width-button: 100px;
$base-height-button: 40px;
$base-width-img: 90px;
$base-height-img: 90px;

$base-height-banner: 100px;
$base-width-banner: 100%;




 $base-padding: 0.75rem;
 $base-margin-top: 40px;
 $base-border-thickness: 1px;
 $base-border-radius: 7px;
 $base-full-radius: 50%;


 $base-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;